$paragraph-font-family:Quicksand, sans-serif;
$heading-font-family:europa,sans-serif;


//Colors
$color-white : #fff;
$color-primary: #565661;
$color-heading : #373843;


//media breakpoint

$mobile-width:300px;
$tablet-width: 768px;
$desktop-width: 1026px;
