@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");


:root {
  --light-color: #efefef;
  --medium-color: #6c6c6c;
  --mediumer-color: #d7d7d7;
  --dark-color: #484848;
}
[data-theme="dark"] {
  --darkest-color: rgba(0, 0, 0, 0.8);
  --darker-color: #6c6c6c;
  --dark-color: #484848;
  --medium-color: #efefef;
  --light-color: #f4f4f4;
}
body{
  font-family: 'Roboto',sans-serif;
  margin:0;
  box-sizing: border-box;
  background-color: var(--light-color);
  transition: all 200ms ease-in-out;
}

h1,h2{
  color:var(--medium-color);
}

.flex{
  display: flex;
}
.page-center{
  width: 1080px;
  max-width: 80%;
  margin: 0 auto;
}
header{
  width:100vw;
  padding: 20px 0;
  background-color: var(--light-color);
  position: fixed;
  top:0;
  transition: 200ms all ease-in-out;
}
.header-inner{
  border-bottom: 1px dashed  var(--medium-color);
  align-items: center;
  justify-content: center;
}
main{
  display: block;
}

main .container{
  justify-content: space-between;
  flex-wrap: wrap;
}

article{
  display: flex;
  flex-direction: column;
  width:32%;
  border-radius: 10px;
  box-shadow: 1px 10px 10px 2px var(--mediumer-color);
}

article img{
  height: 300px;
}

article p,
article h4{
  padding: 0 10px;
  letter-spacing: 0.5px;
}

/* Theme sWITCHER */

.theme-toogle{
  display: inline-block;
  height:34px;
  position: relative;
  width: 60px;
}
.theme-toogle input{
  appearance: none;
  opacity: 0;
  position: relative;
  top:-10px;
  width: 60px;
  height: 50px;
  z-index: 100;
}

.slider{
  background-color: #ccc;
  bottom: 0;
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  transition: 0.4s;
}

.slider:before{
  background-color: var(--light-color);
  position: absolute;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  transition: 0.4s;
  width: 26px;
}
input:checked + .slider{
  background-color: #a4bfd4;
}
input:checked + .slider:before{
  transform: translateX(26px);
}
.slider.round{
border-radius: 34px;
}
.slider.round::before{
  border-radius: 50%;
}

/*DARK THEMES*/

html[data-theme="dark"] body,
html[data-theme="dark"] header{
  background-color: var(--dark-color);
}
html[data-theme="dark"] p,
html[data-theme="dark"] h4{
  color:var(--light-color);
}
html[data-theme="dark"] articles{
  box-shadow: 1px 10px 10px 2px var(--darkest-color);
}

@media (max-width:767px){
  article{
    width: 45%;
    margin-bottom: 50px;
  }
}
@media(max-width:600px){
 article{
width: 100%;
margin-bottom: 50px;
 }
}
@media (max-width:500px){
  header{
    flex-direction: column;
  }
}

